body {
  background-color: #ffffff;
  font-family: 'Roboto', sans-serif;
  margin: 0;

}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  margin: 0 auto;
  padding: 0 20px;
  width: 100%;
  max-width: 1200px;
}

a {
  text-decoration: none;
}

.site-navigation a {
  color: #000000;
}

.site-navigation {
list-style: none;
}

.main-header {
 background-color: #e7e7e7;
}

.site-navigation a:hover {
  color: #fb565a;
}

.site-navigation a:focus {
  color: #a6a6a6;
}

.atelier {
  font-size: 15px;
  font-family: "Roboto";
  text-transform: uppercase;
}

.clientele {
  font-size: 15px;
  font-family: "Roboto";
  text-transform: uppercase;

}

.shop {
  font-size: 15px;
  font-family: "Roboto";
  text-transform: uppercase;
 
}

.contacts {
    font-size: 15px;
  font-family: "Roboto";
  text-transform: uppercase;
}

.cart {
  font-size: 15px;
  font-family: "Roboto";
  text-transform: uppercase;
  position: absolute;
  left: 1225px;
  top: 65px; 
}

.orders li {
  list-style: none;
}

.button {
  border-radius: 3px;
  color: white;
  font-size: 15px;
}

.social-network {
  list-style: none;
}

.websites::before {
  content: "";
  position: absolute;
  padding-top: 0px;
  width: 300px;
  height: 146px;
  background: url("../img/illustration-1.jpg");
  }

.websites {
  
  position: relative;
  font-size: 25px;
  font-family: "Roboto";
  color: rgb(0, 0, 0);
  font-weight: bold;
  text-transform: uppercase;
}

.applications::before {
  content: "";
  position: absolute;
  width: 300px;
  height: 146px;
  background: url("../img/illustration-2.jpg");
  }

.applications {
  position: relative;
  font-size: 25px;
  font-family: "Roboto";
  color: rgb(0, 0, 0);
  font-weight: bold;
  text-transform: uppercase;
}

.presentations::before {
  content: "";
  position: absolute;
  width: 300px;
  height: 146px;
  background: url("../img/illustration-3.jpg");
  }

.presentations {
  font-size: 25px;
  font-family: "Roboto";
  color: rgb(0, 0, 0);
  font-weight: bold;
  text-transform: uppercase;
  position: relative;
} 
 
.content1 {
  font-size: 16px;
  font-family: "Roboto";
  color: rgb(40, 49, 54);
  width: 238px;
  height: 41px;
}
.content2 {
    font-size: 16px;
  font-family: "Roboto";
  color: rgb(40, 49, 54);
  width: 239px;
  height: 40px;
}
.content3 {
  font-size: 16px;
  font-family: "Roboto";
  color: rgb(40, 49, 54);
  width: 213px;
  height: 40px; 
}

.cart {
  display: inline-block;
  padding-left: 40px;
}

.cart::before {
  opacity: 0.3;
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 15px;
  height: 15px;
  background: url('../img/cart-icon.svg');
}

.button-orders1 {
  width: 160px;
  height: 50px;
  background-color: #fb565a;
  border: none;
}

.button-orders2 {
  width: 160px;
  height: 50px;
  background-color: #00ca74;
  border: none;
}
.button-orders3 {
  width: 160px;
  height: 50px;
  background-color: #efc84a;
  border: none;
}

.button-orders1:hover {
  background-color: #e74246;
}

.button-orders2:hover {
 background-color: #00bc6c;
}

.button-orders3:hover {
 background-color: #eab534;
}

.button-orders1:focus {
  background-color: #d7373b;
  color: #e37376;
  outline: none;
}

  .button-orders2:focus {
  background-color: #00aa62;
  color: #4dc491;
  outline: none;
}

  .button-orders3:focus {
  background-color: #e5a722;
  color: #edc265;
  outline: none;
}

  .letsbefriends {
  font-size: 35px;
  font-family: "Roboto";
  color: rgb(0, 0, 0);
  font-weight: bold;
  line-height: 1;
}

  .discount {
  font-size: 16px;
  font-family: "Roboto";
  color: rgb(68, 68, 68);
  width: 343px;
  height: 16px;
}

  .we1 {
  font-size: 45.5px;
  font-family: "Roboto";
  color: rgb(0, 0, 0);
  width: 700px;
  font-weight: bold;
}

.we2 {
  font-size: 16px;
  font-family: "Roboto";
  color: rgb(40, 49, 54);
  width: 616px;
  height: 40px;
  font-weight: normal;
  line-height: 1.5;
  color: #283136;
}

.we3 {
  text-transform: uppercase;
  font-weight: bold;
  line-height: 1.5;
}

.transfer li {
  font-weight: normal;
  color: #283136;
}

.map {
margin: 0;
}

.since2004 {
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.5;
  text-align: center;
  font-size: 16px;
  }

.percents {
  list-style: none;
}

.percents li:nth-child(odd) {
  font-weight: bold;
  font-size: 45px;
}

.percents li:nth-child(even) {
  font-weight: normal;
  font-size: 16px;
  width: 10px;
}

.company {
 opacity: 0.2;
}

.company:hover {
 opacity: 1;
}

.company:active {
 opacity: 0.1;
}

.instagram{
  border-radius: 50%;
  background-color: #e1e1e1;
  width: 79px;
  height: 79px;
  font-size: 0;
}

.vkontakte {
  border-radius: 50%;
  background-color: #e1e1e1;
  width: 79px;
  height: 79px;
  font-size: 0;
}

.facebook {
  border-radius: 50%;
  background-color: #e1e1e1;
  width: 79px;
  height: 79px;
  font-size: 0;
}

.aboutus1{
color: rgb(102, 102, 102);
} 
 
.aboutus1 a{
color: rgb(102, 102, 102);
} 

.button-writetous {
  width: 220px;
  height: 50px;
  background-color: #fb565a;
  border: none;
  font-size: 20px;
}

.button-writetous:hover {
  background-color: #e74246;
}

.button-writetous:focus {
  background-color: #d7373b;
  outline: none;

}

.button-send {
  width: 210px;
  height: 50px;
  background-color: #fb565a;
  border: none;
  font-size: 20px;
}

.writetous {
font-size: 43px;
}

.popap {
  font-weight: bold;
  font-size: 15px;
}

.button-show {
  width: 250px;
  height: 50px;
  background-color: #e7e7e7;
  border: none;
  font-size: 20px;
  color: #000000;
  font-weight: bold;
}

.button-show:hover {
  background-color: #dfdfdf;
}

.button-show:focus {
  background-color: #d5d5d5;
  outline: none;
}