body {
  background-color: #ffffff;
  margin: 0;
  font-family: "Roboto","Arial", sans-serif;
  line-height: 24px;
  font-weight: 400;
  color: #000000;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  margin: 0 auto;
  padding: 0 20px;
  width: 100%;
  max-width: 1200px;
  box-sizing: border-box;
}

.logo1 {
  margin-top: 50px;
  width: 160px;
  height: 65px;
  object-fit: contain;
}

.logo1:hover,
.logo1:focus {
  opacity: 0.8;
}

.logo1:active {
  opacity: 0.3;
}

li {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  outline: none;
  text-decoration: none;
}

button {
  outline: none;
}

.site-navigation a {
  color: #000000;
}

.site-navigation {
  list-style: none;
}

.main-header {
 background-color: #eee;
}

.site-navigation a:hover, 
.site-navigation a:focus{
  color: #fb565a;
}

.site-navigation a:active {
  color: #a6a6a6;
}

.menu {
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 500;
  padding-top: 60px;
}

.menu-current-item {
  position: relative;
}

.menu-current-item:before {
  content: "";
  position: absolute;
  width: 74px;
  height: 2px;
  background-color: #fb565a;
  top: 90px;
}

.menu:nth-child(1) {
margin-left: 202px;
}

.menu:nth-child(2) {
margin-left: 47px;
}

.menu:nth-child(3) {
margin-left: 48px;
}

.menu:nth-child(4) {
margin-left: 45px;
}

.cart {
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 500;
  position: relative;
  padding-top: 60px;
}

.orders {
  padding-left: 0px;
}

.orders li {
  list-style: none;
}

.button {
  border-radius: 3px;
  color: white;
  font-size: 15px;
}

.social-network {
  list-style: none;
  padding-left: 0;
}


.websites::before {
  content: "";
  position: absolute;
  bottom: 50px;
  width: 300px;
  height: 146px;
  background: url("../img/illustration-1.jpg");
  }

.websites {
  margin-bottom: 17px;
  padding-top: 153px;
  position: relative;
  font-size: 24px;
  color: rgb(0, 0, 0);
  font-weight: bold;
  text-transform: uppercase;
}

.applications::before {
  content: "";
  position: absolute;
  bottom: 50px;
  width: 300px;
  height: 146px;
  background: url("../img/illustration-2.jpg");
  }

.applications {
  margin-bottom: 17px;
  padding-top: 153px;
  position: relative;
  font-size: 24px;
  color: rgb(0, 0, 0);
  font-weight: bold;
  text-transform: uppercase;
}

.presentations::before {
  content: "";
  position: absolute;
  bottom: 50px;
  width: 300px;
  height: 146px;
  background: url("../img/illustration-3.jpg");
  }

.presentations {
  margin-bottom: 17px;
  font-size: 24px;
  padding-top: 153px;
  color: rgb(0, 0, 0);
  font-weight: bold;
  text-transform: uppercase;
  position: relative;
}

.content1 {
  font-size: 16px;
  color: rgb(40, 49, 54);
  margin-bottom: 47px;
  width: 250px;
  min-height: 40px;
  line-height: 1.6;
}

.content2 {
  font-size: 16px;
  color: rgb(40, 49, 54);
  margin-bottom: 47px;
  width: 239px;
  min-height: 40px;
  line-height: 1.6;
}
.content3 {
  font-size: 16px;
  color: rgb(40, 49, 54);
  margin-bottom: 47px;
  width: 219px;
  min-height: 40px;
  line-height: 1.6;
}

.cart {
  display: inline-block;
  padding-left: 40px;
  margin-left: 245px;
}

.cart::before {
  opacity: 0.3;
  content: '';
  position: absolute;
  top: 65px;
  left: 0;
  width: 15px;
  height: 15px;
  background: url("../img/cart-icon.svg");
}

.button-orders1 {
  padding: 16px 40px 15px 40px;
  background-color: #fb565a;
  border: none;
  border-radius: 3px;
  color: white;
  margin-bottom: 70px;
}

.button-orders2 {
  padding: 16px 40px 15px 40px;
  background-color: #00ca74;
  border: none;
  border-radius: 3px;
  color: white;
  margin-bottom: 70px;
}
.button-orders3 {
  padding: 16px 40px 15px 40px;
  background-color: #efc84a;
  border: none;
  border-radius: 3px;
  color: white;
  margin-bottom: 70px;
}

.button-orders1:hover,
.button-orders1:focus {
  background-color: #e74246;
}

.button-orders2:hover,
.button-orders2:focus {
 background-color: #00bc6c;
}

.button-orders3:hover,
.button-orders3:focus {
 background-color: #eab534;
}

.button-orders1:active {
  background-color: #d7373b;
  color: #e37376;
  outline: none;
  box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1);
}

.button-orders2:active {
  background-color: #00aa62;
  color: #4dc491;
  outline: none;
  box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1);
}

.button-orders3:active {
  background-color: #e5a722;
  color: #edc265;
  outline: none;
  box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1);
}

.letsbefriends {
  font-size: 36px;
  color: rgb(0, 0, 0);
  font-weight: bold;
  line-height: 1;
  margin-left: 132px; 
  margin-bottom: 0px;
  margin-top: 75px;
}

.discount {
  font-size: 16px;
  color: #444444;
  width: 343px;
  margin-left: 130px;
  margin-top: 10px;
  min-width: 350px;
}

.shop {
  font-size: 55px;
  font-weight: 500;
  line-height: 1;;
  text-align: center;
  margin-top: 70px;
  padding-bottom: 107px;
  margin-bottom: 53px;
}

.we1 {
  font-size: 45px;
  width: 650px;
  color: rgb(0, 0, 0);
  font-weight: 500;
  position: relative;
  line-height: 1;
  margin-top: 0;
  margin-bottom: 30px;
}

.we2 {
  font-size: 16px;
  width: 616px;
  font-weight: normal;
  line-height: 1.5;
  color: #283136;
}

.we3 {
  margin-top: 40px;
  text-transform: uppercase;
  font-weight: bold;
  line-height: 1.5;
  margin-bottom: 0px;
}

.transfer {
  margin-top: 25px;
}

.transfer li {
  font-weight: normal;
  color: #283136;
  list-style: none;
  position: relative;
  padding-left: 35px;
  right: 40px;
  padding-bottom: 10px;
  margin-top: 15px;
}


.transfer li::before {
  content: "";
  position: absolute;
  width: 25px;
  height: 2px;
  top: 10px;
  left: 0;
  background-color: #fb565a;
}

.since2004 {
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.5;
  margin-left: 16px;
  font-size: 16px;
  margin-bottom: 47px;
  margin-top: 30px;
  }

.percents {
  list-style: none;
  padding-left: 0px;
  margin-right: 0px;
}

.percents1 {
  font-weight: bold;
  font-size: 45px;
  padding-bottom: 40px;
}

.percents1 td:nth-child(1) {
  padding-right: 0px;
}

.percents1 td:nth-child(2) {
  padding-right: 18px;
  padding-left: 0px;
}

.percents1 td:nth-child(3) {
  margin-right: 0;
}

.percents2 td:nth-child(1) {
  padding-right: 20px;
}

.percents2 td:nth-child(2) {
  padding-right: 0px;
}

.percents2 {
  font-weight: normal;
  font-size: 16px;
  width: 20px;
  line-height: 1.3;
}

.percents2 td {
  padding-top: 28px;
}

.percents1 sup {
  font-size: 25px;
}

.company {
 opacity: 0.2;
}

.company:hover,
.company:focus {
 opacity: 1;
}

.company:active {
 opacity: 0.1;
}

.flex-company {
  display: flex;
  flex-wrap: wrap;
}

.company-border {
  margin-top: 42px;
  border-top:  2px solid #e1e1e1;
  border-bottom: 2px solid #e1e1e1;
  justify-content: space-between;
  padding-left: 0;
  margin-bottom: 77px;
}

.company1 {
  position: relative;
}

.company1:after {
  position: absolute;
  content: "";
  background-color: #e1e1e1;
  width: 2px;
  height: 52px;
  top: 64px;
  left: 278px;
}

.company2 {
  position: relative;
}

.company2:after {
  position: absolute;
  content: "";
  background-color: #e1e1e1;
  width: 2px;
  height: 52px;
  top: 64px;
  left: 278px;
}

.company3 {
  position: relative;
}

.company3:after {
  position: absolute;
  content: "";
  background-color: #e1e1e1;
  width: 2px;
  height: 52px;
  top: 64px;
  left: 278px;
}

.social-icon{
  border-radius: 50%;
  background-color: #e1e1e1;
  width: 79px;
  height: 79px;
  font-size: 0px;
  display: flex;
  justify-content: center;
  margin: 54px 11px 0 0;
  align-items: center;
}

.vk {
  width: 26px;
  height: 15px;
}

.fb {
  width: 12px;
  height: 22px;
}

.inst {
  width: 21px;
  height: 21px;
}

.social-icon:hover {
  background-color: #e74246;
}

.social-icon:focus {
  box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1);
  background-color: #d7373b;
}

a:active img {
opacity: 0.3
}

.aboutus1{
  color: rgb(102, 102, 102);
  padding-left: 50px;
  margin-bottom: 48px;
  margin-top: 8px;
  line-height: 1.7;
}

.aboutus1 a{
  color: rgb(102, 102, 102);
}

.button-writetous {
  background-color: #fb565a;
  padding-left: 45px;
  padding-right: 45px;
  padding-bottom: 16px;
  padding-top: 16px;
  border-radius: 3px;
  color: #fff;
  text-align: center;
  margin-left: 50px;
  margin-top: 307px;
}

.button-writetous:hover,
.button-writetous:focus {
  background-color: #e74246;
}

.button-writetous:active {
  background-color: #d7373b;
  outline: none;
  box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1);
  color: rgba(255, 255, 255, 0.3);
}

.button-send {
  width: 260px;
  padding: 13px 0px 13px 0px;
  background-color: #fb565a;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

.button-send:hover,
.button-send:focus {
  background-color: #e74246;
}

.button-send:active {
  background-color: #d7373b;
  color: #e37376;
  outline: none;
  box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1);
  color: rgba(255, 255, 255, 0.3);
}

.writetous {
  font-size: 43px;
  padding-top: 69px;
  padding-left: 100px;
  margin-bottom: 37px;
}

.close {
  position: absolute;
  top: 90px;
  left: 849px;
  border: 0;
  background-color: white;
  opacity: 0.3;
  cursor: pointer;
}

.close:hover,
.close:focus {
  opacity: 1;
}

.close:active {
  opacity: 0.2;
  outline: none;
}

.popap {
  display: none;
  margin-left: 240px;
  width: 960px;
  height: 590px;
  box-shadow: 0px 20px 40px 0 rgba(0, 1, 1, 0.75);
  position: relative;
}

.popap-name {
  font-weight: bold;
  font-size: 16px;
  display: block;
  margin-bottom: 10px;
}

.popap-e-mail {
  font-weight: bold;
  font-size: 16px;
  display: block;
  margin-left: 20px;
  margin-bottom: 10px;
}

input:required:valid {
  border: solid 2px #e74246;
  color: #e74246;
}

.name-surname {
  padding: 15px 145px 15px 16px;
  border: solid 2px #d7dcde;
  border-radius: 3px;
  margin-bottom: 35px;
  font-size: 16px;
  font-family: Roboto;
}

.name-surname:hover {
  border: solid 2px #b4b9bb;
}

.name-surname:focus {
  border: solid 2px #000000;
  outline: none;
  color: #444444;
}

.login {
  padding: 15px 145px 15px 16px;
  margin-left: 20px;
  border: solid 2px #d7dcde;
  border-radius: 3px;
  font-size: 16px;
  font-family: Roboto;
}

.login:hover {
  border: solid 2px #b4b9bb;
}

.login:focus {
  border: solid 2px #000000;
  outline: none;
  color: #444444;
}

.popap-letter {
  font-weight: bold;
  font-size: 16px;
}

textarea {
  margin-top: 9px;
  width: 95.9%;
  min-height: 110px;
  border: solid 2px #d7dcde;
  border-radius: 3px;
  margin-bottom: 43px;
  font-size: 16px;
  font-family: Roboto;
  padding-left: 12px;
  line-height: 2.5;
}

textarea:hover {
  border: solid 2px #b4b9bb;
}

textarea:focus {
  border: solid 2px #000000;
  outline: none;
}

.popap form {
  padding-left: 100px;
  padding-right: 100px;
}

.button-show {
  text-transform: uppercase;
  margin-top: 18px;
  width: 260px;
  height: 50px;
  background-color: #e7e7e7;
  border: none;
  font-size: 16px;
  color: #000000;
  font-weight: 500;
}

.button-show:hover,
.button-show:focus {
  background-color: #dfdfdf;
}

.button-show:active{
  background-color: #d5d5d5;
  box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1);
  color: rgba(0, 0, 0, 0.3);
}

.flex-menu {
  display: flex;
  padding: 0;
}

.flex-orders {
  display: flex;
  border-bottom: 2px solid #ccc;
  padding-bottom: 95px;
  margin-top: 75px;
}

.flex-orders li:nth-child(1) {
  margin-right: 100px;
}

.flex-orders li:nth-child(2) {
  margin-right: 100px;
}


.flex-aboutus1 {
  flex-wrap: wrap;
  margin-top: 55px;
}

.flex-aboutus2 {
  margin-left: 150px;
  margin-top: 20px;
}

.flex-social-network {
  display: flex;;
}

.flex-header {
  display: flex;
  align-items: center;
  padding: 0;
}

.ul-cart {
  margin: 0;
  padding: 0;
}

.orders li {
  width: 300px;
}

.flex-aboutus {
  display: flex;
}

.grid {
  display: block;
  margin-bottom: 16px;
  font-size: 16px;
  color: #283136;
}

.flex-layouts {
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.flex-layouts li {
  list-style: none;
  flex-wrap: wrap;
  margin-bottom: 25px;
  cursor: pointer;
}

.flex-layouts li:hover .upper-block {
  opacity: 1
}

.flex-layouts li:hover .grey {
  display: block;
}

.flex-layouts li:nth-child(odd) {
  margin-right: 40px;
}

.upper-block {
  width: 360px;
  height: 40px;
  background-color: #4d4d4d;
  opacity: 0.12;
  border-radius: 4px 4px 0px 0px;
}

.upper-block:hover {
  opacity: 1;
}

.upper-block span {
  display: block;
  border-radius: 50px;
  width: 15px;
  height: 15px;
  background-color: #fff;
  position: absolute;
}

.upper-block span:nth-child(1) {
  position: absolute;
  left: 17px;
  top: 13px;
}

.upper-block span:nth-child(2) {
  position: absolute;
  left: 39px;
  top: 13px;
}

.upper-block span:nth-child(3) {
  position: absolute;
  left: 63px;
  top: 13px;
}

.layouts {
  position: relative;
}

.grey {
  display: none;
  left: 0;
  bottom: 0;
  position: absolute;
  width: 360px;
  height: 231px;
  background-color: #eeeeee; 
  text-align: center;
}

.grey p:nth-child(1) {
  margin-bottom: 8px;
}

.grey a:nth-child(1) {
  color: #000000;
  font-size: 18px;
  font-weight: bold;
  line-height: 2.2;
}

.grey a:nth-child(1):hover {
  color: #fb565a;
}

.grey p:nth-child(2) {
  font-size: 16px;
  font-weight: normal;
  color: #666666;
  max-width: 230px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
  line-height: 1.3;
  margin-bottom: 43px;
 }

.button-9900 {
  margin-left: 3px;
  background-color: #fb565a; 
  padding: 16.5px 57px 14.5px 63px;
  border: none;
  border-radius: 3px;
  color: white;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.13;
  font-family: Roboto;
  cursor: pointer;
}

.peculiar-properties {
  display: block;
  margin-bottom: 19px;
  font-size: 16px;
  color: #283136;
}

.main-flex {
  display: flex;
  justify-content: space-between;
}

.contacts {
  position: relative;
  text-align: center;
  height: 416px;
}

.tableblock{
  position: absolute;
  content: "";
  width: 319px;
  height: 308px;
  background-color: #fff;
  top: 55px;
  text-align: left;
}

.tableblock h2 {
  font-size: 18px;
  font-weight: bold;
  padding-left: 50px;
  padding-top: 50px;
  padding-bottom: 25px;
  margin: 0;
}

.street {
  margin: 0;
  color: rgb(102, 102, 102);
  padding-left: 50px;
  line-height: 1.3;
}

fieldset {
  border: 0;
  padding-left: 0;
  margin-left: 0;
}

.form-menu1 {
  font-size: 18px;
  font-weight: bold;
  padding-top: 60px;
  margin-bottom: 11px;
}

.form-menu2 {
  margin-top: 16px;
  padding-top: 0px;
  font-size: 18px;
  font-weight: bold;
}

.flex-popap {
  display: flex;
  margin: 0;
}

.flex-popap .form-column {
  width: 50%;
  padding: 0px;
}

.form-input1 input {
  border: 5px solid #4d4d4d;
  height: 25px;
  width: 25px;
}

.form-input2 input {
  width: 27px;
  height: 23px;
  opacity: 0.4;

}

.flex-footer {
  display: flex;
}

.cost {
  margin-bottom: 2px;
  padding-top: 8px;
}

.sort {
  display: flex;
  flex-wrap: wrap;
}

.sort p {
  font-size: 18px;
  font-weight: bold;
  margin-left: 0px;
  margin-top: 0px;
  line-height: 1.8;
}

.howtosort {
  margin-left: 226px;
  display: flex;
  flex-wrap: wrap;
  margin-top: 8px;
  margin-bottom: 0;
  padding-top: 0;
}

.howtosort li {
  margin-right: 26px;
  font-size: 14px;
  font-weight: normal;
  color: rgba(0, 0, 0, 0.3);
}

.howtosort a {
  color: rgba(0, 0, 0, 0.3);
}

.howtosort a:hover,
.howtosort a:focus {
  color: rgba(0, 0, 0, 0.6);
}

.howtosort a:active {
  color: #000000;
}

.howtosort-triangle {
  display: flex;
  align-items: center;
  margin-top: 0px;
  margin-bottom: 35px;
}

.triangle {
  padding-left: 0;
  display: flex;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 1.8px;
}

.triangle-to-top a {
  display: inline-block;
  width: 0; 
  height: 0;
  border-left: 5.5px solid transparent;
  border-right: 5.5px solid transparent;
  border-bottom: 10px solid #a6a6a6;
  opacity: 0.2
}

.triangle-to-top :hover {
  border-left: 5.5px solid transparent;
  border-right: 5.5px solid transparent;
  border-bottom: 10px solid #a6a6a6;
  opacity: 0.6;
}

.triangle-to-top :active {
  border-left: 5.5px solid transparent;
  border-right: 5.5px solid transparent;
  border-bottom: 10px solid #000;
  opacity: 1;
}

.triangle-to-buttom a {
  margin-right: 17px;
  margin-left: 21px;
  display: inline-block;
  width: 0; 
  height: 0;
  border-left: 5.5px solid transparent;
  border-right: 5.5px solid transparent;
  border-top: 10px solid #a6a6a6;
  opacity: 0.2
}

.triangle-to-buttom :hover {
  border-left: 5.5px solid transparent;
  border-right: 5.5px solid transparent;
  border-top: 10px solid #a6a6a6;
  opacity: 0.6;
}

.triangle-to-buttom :active {
  border-left: 5.5px solid transparent;
  border-right: 5.5px solid transparent;
  border-top: 10px solid #000;
  opacity: 1;
}

.flex-nombers {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
}

.nomber {
  font-size: 16px;
  font-weight: 500;
  margin-top: 26px;
  margin-bottom: 55px;
  margin-right: 11px;
}

.nomber-1 {
  border: solid 3px #dbdbdb;
  border-radius: 3px;
  padding: 14px 18px 13px 18px;
  color: #000000;
}
 
.nomber-2-3 {
  background-color: #e7e7e7;
  border: none;
  border-radius: 3px;
  padding: 16px 21px 16px 21px;
  color: #000000;
}

.nomber-2-3:hover,
.nomber-2-3:focus {
  background-color: #dfdfdf;
  border: none;
  border-radius: 3px;
}

.nomber-2-3:active {
  box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1);
  background-color: #d5d5d5;
  border: none;
  border-radius: 3px;
  color: rgba(0, 0, 0, 0.3);
}

.next {
  padding: 17px 79px 17px 79px;
  background-color: #e7e7e7;
  text-align: center;
  border-radius: 3px;
  color: #000000;
}

.next:hover,
.next:focus {
  background-color: #dfdfdf;
}

.next:active {
  background-color: #dfdfdf;
  box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1);
  background-color: #d5d5d5;
  color: rgba(0, 0, 0, 0.3);
}

.flex-characteristic {
  width: 261px;
} 

.headers {
  width: 760px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  clip: rect(0, 0, 0, 0);
}

.slider {
  position: relative;
  background-color: #eeeeee;
}

.slider-controls {
  position: absolute;
  left: 50%;
  bottom: 104px;
  z-index: 100;
  width: 160px;
  height: 18px;
  text-align: center;
  font-size: 0;
  transform: translateX(-50%);
}

.slider-controls label {
  position: relative;
  display: inline-block;
  width: 18px;
  height: 18px;
  padding: 8px;
  border-radius: 50%;
  cursor: pointer;
}

.slider-controls label::after {
  content: "";
  position: absolute;
  top: 8px;
  left: 8px;
  z-index: 1;
  width: 18px;
  height: 18px;
  background: #ffffff;
  border-radius: 50%;
}

.slider-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.slider-item {
  display: none;
  padding: 71px 0 80px 0;
}

.slider-item:nth-child(1) {
  background-image: url("../img/slide1.png");
  background-repeat: no-repeat;
  background-position: 100% -7px;
}

.slider-item:nth-child(2) {
  background-image: url("../img/slide2.png");
  background-repeat: no-repeat;
  background-position: 100% 0;
}

.slider-item:nth-child(3) {
  background-image: url("../img/slide3.png");
  background-repeat: no-repeat;
  background-position: 100% 20px;
}

#product-1:checked ~ .slider-list .slider-item:nth-child(1) {
  display: block;
}

#product-2:checked ~ .slider-list .slider-item:nth-child(2) {
  display: block;
}

#product-3:checked ~ .slider-list .slider-item:nth-child(3) {
  display: block;
}

#product-1:checked ~ .slider-controls .slider-controls-item--1::before,
#product-2:checked ~ .slider-controls .slider-controls-item--2::before,
#product-3:checked ~ .slider-controls .slider-controls-item--3::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 2;
  width: 4px;
  height: 4px;
  margin: -4px;
  background-color: inherit;
  border: 2px solid #c1c1c1;
  border-radius: 50%;
}

.slider-item h3 {
  max-width: 600px;
  margin: 0;
  margin-bottom: 27px;
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
}

.slider-item p {
  max-width: 430px;
  margin: 0;
  margin-bottom: 38px;
}

.button-slider {
  display: block;
  width: 240px;
  padding: 16px 0px 16px 0px;
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  background-color: #fb565a;
  border-radius: 3px;
  border: none;
}

.button-slider:hover,
.button-slider:focus {
  background-color: #e74246;
}

.button-slider:active {
  background-color: #d7373b;
  color: rgba(255, 255, 255, 0.3);
  box-shadow: 0 3px rgba(0, 0, 0, 0.1) inset;
}

.filter-item {
  margin: 0;
  padding: 0;
  border: none;
}

.range-filter {
  width: 260px;
  margin-top: 49px;
}

.filter-item legend {
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  font-weight: 700;
}

.range-controls {
  position: relative; 
  height: 41px;
  margin-bottom: 15px;
  padding-top: 39px;
  padding-right: 20px;
  padding-left: 20px;
  background-color: #f1f1f1;
  border-radius: 5px;
}

.range-controls .scale {
  height: 2px;
  background: #d7dcde;
}

.range-controls .bar {
  width: 70%;
  height: 2px;
  background: #00ca74;
}

.range-controls .toggle {
  position: absolute;
  top: 31px;
  left: 0;
  width: 4px;
  height: 4px;
  padding: 0;
  border: 8px solid #ffffff;
  background-color: #ababab;
  box-shadow: 0 2px 1px 0 #cfcfcf;
  border-radius: 50%;
  cursor: pointer;
}

.range-controls .toggle-min {
  left: 18px;
}

.range-controls .toggle-max {
  left: 160px;
}

.price-controls {
  font-size: 0;
}

.price-controls label {
  display: inline-block;
  width: 50%;
  font-size: 16px;
  text-transform: uppercase;
}

.price-controls input {
  width: 60px;
  padding: 8px 10px;
  margin-left: 10px;
  font-family: Roboto, Arial, sans-serif;
  font-size: 16px;
  text-align: center;
  color: #283136;
  border: none;
  border-radius: 5px;
  background: #f1f1f1;
}

.max-price {
  text-align: right;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.filter-option2 label {
  position: relative;
  display: block;
  padding-left: 36px;
  margin-bottom: 16px;
}

.filter-option2 label::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 27px;
  height: 23px;
  background: url("../img/checkbox-off.svg");
  background-size: contain;
  background-repeat: no-repeat;
  opacity: 0.4;
}

.filter-option2 input:checked + label::before {
  background: url("../img/checkbox-on.svg");
}

.filter-option2 label:hover::before {
  opacity: 1;
}

.filter-option1 label {
  position: relative;
  display: block;
  padding-left: 36px;
  margin-bottom: 16px;
}

.filter-option1 label::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 25px;
  height: 25px;
  background: url("../img/radio-off.svg");
  background-size: contain;
  background-repeat: no-repeat;
  opacity: 0.4;
}

.filter-option1 input:checked + label::before {
  background: url("../img/radio-on.svg");
}

.filter-option1 label:hover::before {
  opacity: 1;
}
